html, body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

body > img {
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}

h1 {
	background-color: black;
	color: white;
	padding: 10px;
	margin: 0;
}

article {
	margin: 50px;
}

p {
	margin: 15px;
}

p.x {
	margin: 20px;
	color: pink;
}
div.x {
	color: blue;
}

a {
	color: #408BC2;
}
a:hover {
	color: #FF0044;
}
a:visited {
	color: #333333;
}

.jumpLink {
	margin: 50px 0;
	/*background: silver;*/
	text-align: right;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
}
